@import '@uikit/v-common.scss';


.v-master-view {
  @extend .flex-horizontal;
  width: 100%;

  .v-master-view-keys {
    @extend .flex-vertical;

    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.25rem;

    .v-master-view-key {
      @extend .flex-horizontal;
      padding: 0.5rem 0.25rem;

      .v-master-view-key-slot {
        z-index: 1;
      }
    }

    .v-master-view-data {
      @extend .flex-vertical;
      
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}