@import '@uikit/v-common.scss';

.v-master-view {
  @extend .flex-horizontal;
  
  .v-master-view-keys {
    @extend .flex-vertical;

    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;

    .v-master-view-key {
      @extend .flex-horizontal;
      justify-content: flex-start;
      padding: 0.5rem 0.25rem;

      .v-master-view-key-slot {
        z-index: 1;
      }
    }
  }
}