@import '@uikit/v-common.scss';


.v-dropdown {
  @extend .flex-vertical;

  position: relative;
  display: inline-block;
  width: fit-content;

  .v-dropdown-button {
    z-index: 1002;
  }

  .v-dropdown-elements {
    @extend .flex-vertical;

    flex-grow: 1;
    position: fixed;
    min-width: 150px;
    align-items: center;
    z-index: 1001;
    overflow-y: auto;
    background-color: var(--v-background-mute);
    border-radius: 0.25rem;

    .v-dropdown-element {
      @extend .flex-horizontal;

      width: 100%;
      padding: 0.25rem 1rem;

      &:hover {
        background-color: var(--v-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--v-action);
      }
    }
  }
}