@import '@uikit/v-common.scss';


.v-tag {
  @extend .flex-horizontal;

  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  text-wrap: no-wrap;

  .v-tag-content {
    font-weight: bold
  }
}