@import '@uikit/v-common.scss';


.v-input {
  @extend .flex-vertical;

  textarea {
    @extend .flex-horizontal;

    min-height: 15vh;
    min-width: 40vw;
    justify-content: flex-start;
    text-wrap: nowrap;
    color: var(--v-text-primary-invert);
    background: var(--v-background-invert);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
  }
}