@import '@uikit/v-common.scss';


.v-navlink {
  padding: 0.85rem 1rem 0.85rem 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;

  &:hover {
    box-shadow: 0px 0px 5px 2px var(--color-boxshadow);
    cursor: pointer;
  }

  &:active {
    color: var(--color-button); 
    box-shadow: 0px 0px 10px 3px var(--color-boxshadow);
  }
}

.v-nav-container {
  @extend .flex-horizontal;

  width: 100%;
  max-height: fit-content;
  background-color: transparent;
  justify-content:space-between;
  align-items: center;
  padding: 0 0.5rem;

  .v-nav-title {
    @extend .flex-horizontal;

    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
  }
  
  .v-nav-router {
    @extend .flex-horizontal;

    width: fit-content;
    justify-content: space-between;
    align-items: center;

    .v-nav-router-link {
      @extend .v-navlink;
      
      flex-direction: column;
      padding: 0.75rem;
      margin-right: 0.75rem;
      margin-left: 0.75rem;
      text-decoration: none;
      color: var(--color-brand-title);
      font-size: 1rem;
      border-radius: 0 0 1rem 1rem;
    }
  }

  .v-nav-actions {
    @extend .flex-horizontal;

    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
}