@import '@uikit/v-common.scss';

.v-text-container {
  @extend .flex-horizontal;

  height: fit-content;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-text-invert);
  background: var(--color-background-invert);
  text-wrap: wrap;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.25rem;
}