@import '@uikit/v-common.scss';


.v-container {
  padding: 0.5rem;
  margin: 0.25rem;
  width: 100%;
}

.v-container-vertical {
  @extend .flex-vertical;
  @extend .v-container;

  justify-content: flex-start;
  align-items: center;
}

.v-container-horizontal {
  @extend .flex-horizontal;
  @extend .v-container;

  align-items: center;
}