@import '@uikit/v-common.scss';


.v-list {
  @extend .flex-vertical;

  align-items: flex-start;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  overflow-y: auto;
  padding-inline-start: 0;

  .v-list-item {
    @extend .flex-horizontal;

    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;

    .v-list-item-key {
      font-weight: bold;
    }
  }
}