@import '@uikit/v-common.scss';

#app {
  font-family: 'Roboto Mono';
  font-size: 14px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-weight: normal;
  background-image: linear-gradient(
    to bottom right, 
    var(--v-background-mute), 
    var(--color-brand-title)
  );

  .app-container {
    @extend .flex-vertical;

    margin: 0.25rem;
    flex: 1 1 auto;

    .app-content {
      @extend .flex-vertical;
      overflow-y: hidden;
    }
  }
}