@import '@uikit/v-common.scss';

#app {
  font-family: 'Roboto Mono';
  font-size: 14px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-weight: normal;
  background-image: linear-gradient(
    to bottom right, 
    var(--v-background-mute), 
    var(--color-brand-title)
  );

  .app-container {
    @extend .flex-vertical;

    flex: 1 1 auto;
    height: 100%;
    width: 100%;

    .app-content {
      @extend .flex-vertical;

      flex: 1 1 auto;
      margin: 0.25rem;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
}